html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0; }

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th {
  text-align: left;
  font-weight: normal; }

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0; }

i,
cite,
em,
var,
address,
dfn {
  font-style: normal; }

[hidefocus],
summary {
  outline: 0; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%; }

sup,
sub {
  font-size: 83%; }

pre,
code,
kbd,
samp {
  font-family: inherit; }

q:before,
q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label,
summary {
  cursor: default; }

a,
button {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: normal; }

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none; }

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, simsun;
  color: #333;
  outline: 0; }

a,
a:hover {
  color: #333; }

body {
  font-family: 'Microsoft YaHei',Helvetica,arial,simsun,sans-serif;
  position: relative;
  background: #fff;
  color: #333; }

a {
  text-decoration: none;
  color: #333333; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3j39ma");
  src: url("fonts/icomoon.eot?3j39ma#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3j39ma") format("truetype"), url("fonts/icomoon.woff?3j39ma") format("woff"), url("fonts/icomoon.svg?3j39ma#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-user:before {
  content: "\e900"; }

.icon-search:before {
  content: "\e901"; }

.icon-cross:before {
  content: "\e903"; }

.icon-sina-weibo:before {
  content: "\e902"; }

.header {
  min-width: 1205px; }
  @media screen and (max-width: 1205px) {
    .header {
      min-width: 1005px; } }
  .h-notice {
    padding: 10px 0;
    color: #333;
    font-size: 12px;
    background-color: #f3f3f3;
    overflow: hidden;
    *zoom: 1; }
    .notice-content {
      width: 1205px;
      margin: 0 auto; }
      @media screen and (max-width: 1205px) {
        .notice-content {
          width: 1005px;
          margin: 0 auto; } }
      .notice-content p {
        float: left; }
        .notice-content p a {
          color: #21a557; }
          .notice-content p a:hover, .notice-content p a:active {
            text-decoration: underline; }
      .notice-content a {
        float: right; }
        .notice-content a i {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          width: 8px;
          height: 8px;
          background-image: url("../images/product@2x.png");
          -webkit-background-size: 130px 125.5px;
          -moz-background-size: 130px 125.5px;
          -o-background-size: 130px 125.5px;
          background-size: 130px 125.5px;
          background-repeat: no-repeat;
          background-image: url(../images/product.png) \9;
          background-position: -124px -120px; }
        .notice-content a:hover, .notice-content a:active {
          color: #21a557; }

  .h-content {
    width: 1205px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    *zoom: 1; }
    @media screen and (max-width: 1205px) {
      .h-content {
        width: 1005px;
        margin: 0 auto; } }
    .logo {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .logo p {
        font-family: "Hiragino Sans GB";
        font-size: 25px; }
        .logo p em {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          width: 1px;
          height: 24px;
          vertical-align: top;
          background-color: #39a030; }
        .logo p span {
          font-weight: bold;
          color: #39a030; }

    .message {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-left: 26px; }
      .follow,
      .fans,
      .follow-now {
        float: left;
        font-family: SimSun;
        font-size: 12px;
        text-align: center; }

      .follow {
        margin: 0 15px 0 0;
        padding: 0 5px;
        line-height: 21px;
        color: #fff;
        border-radius: 2px;
        background-color: #21a557;
        cursor: pointer; }
        .follow:hover, .follow:active {
          background-color: #2fb456; }

      .follow-now {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-right: 15px;
        padding: 0 8px;
        line-height: 19px;
        background: #f8f8f8;
        border-radius: 2px;
        border: 1px solid #eee; }
        .follow-now i {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          width: 8px;
          height: 8px;
          margin-right: 6px;
          background-image: url("../images/product@2x.png");
          -webkit-background-size: 130px 125.5px;
          -moz-background-size: 130px 125.5px;
          -o-background-size: 130px 125.5px;
          background-size: 130px 125.5px;
          background-repeat: no-repeat;
          background-image: url(../images/product.png) \9;
          background-position: -117px -115px; }
        .follow-now span {
          color: #999; }
        .follow-now a {
          color: #999;
          cursor: pointer; }
          .follow-now a:hover, .follow-now a:active {
            text-decoration: underline;
            color: #39a030; }

      .fans {
        line-height: 21px; }

      .nav {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        float: right;
        margin-top: 4px; }
        .nav-list {
          margin: 0;
          padding: 0;
          border: 0;
          overflow: hidden;
          *zoom: 1;
          font-family: "Hiragino Sans GB";
          font-size: 15px;
          color: #666; }
          .nav-list li {
            list-style-image: none;
            list-style-type: none;
            margin-left: 0;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            white-space: nowrap; }
          .nav-list li {
            margin-right: 28px; }
            .nav-list li a:hover, .nav-list li a:active {
              color: #21a557; }

.main {
  min-width: 1205px;
  padding-bottom: 90px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f8f8;
  overflow: hidden;
  *zoom: 1; }
  @media screen and (max-width: 1205px) {
    .main {
      min-width: 1005px; } }
  .m-banner {
    position: relative;
    height: 460px; }
    @media screen and (max-width: 1205px) {
      .m-banner {
        height: 400px; } }
    .m-banner img {
      position: absolute;
      left: 50%;
      margin-left: -826px;
      z-index: 1;
      height: 460px;
      filter: alpha(opacity=0);
      opacity: 0; }
      @media screen and (max-width: 1205px) {
        .m-banner img {
          height: 400px;
          position: absolute;
          left: 50%;
          margin-left: -718.25px;
          z-index: 1; } }
    .m-banner .arrow {
      position: absolute;
      left: 50%;
      margin-left: -35px;
      z-index: 200;
      bottom: 10px;
      width: 70px; }
      .m-banner .arrow span {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 10px;
        height: 10px;
        margin: 0 5px 0 5px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer; }
      .m-banner .arrow .spanClick {
        background-color: #333; }

  .m-product {
    width: 1205px;
    margin: 0 auto;
    margin-top: 70px;
    overflow: hidden;
    *zoom: 1; }
    @media screen and (max-width: 1205px) {
      .m-product {
        width: 1005px;
        margin: 0 auto;
        margin-top: 70px; } }
    .product {
      position: relative;
      float: left;
      width: 33.333%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 45px 0 100px; }
      @media screen and (max-width: 1205px) {
        .product {
          padding: 0 45px 0 100px; } }
      .product i {
        position: absolute;
        left: 28px;
        top: 18px;
        z-index: 1; }
        @media screen and (max-width: 1205px) {
          .product i {
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1; } }
      .product h1 {
        margin-bottom: 15px;
        font-size: 22px;
        font-family: bold;
        color: #333; }
      .product p {
        margin-bottom: 25px;
        font-size: 14px;
        color: #666;
        line-height: 24px; }
      .product a {
        color: #39a030;
        font-size: 12px; }
        .product a:hover, .product a:active {
          text-decoration: underline; }

    .m-icon {
      background-image: url("../images/product@2x.png");
      -webkit-background-size: 130px 125.5px;
      -moz-background-size: 130px 125.5px;
      -o-background-size: 130px 125.5px;
      background-size: 130px 125.5px;
      background-repeat: no-repeat;
      background-image: url(../images/product.png) \9;
      width: 40px;
      height: 42px; }

    .icon-open {
      background-position: 0px 0px; }

    .icon-cloud {
      background-position: -40px -36px; }

    .icon-mooc {
      background-position: -80px -76px; }

  .m-env {
    width: 101%;
    margin: 50px 0;
    overflow: hidden; }
    .m-env img {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 20%;
      height: 181px;
      border-right: 3px solid #fff; }
      @media screen and (max-width: 1205px) {
        .m-env img {
          width: 20%;
          height: 150px; } }

  .m-content {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1205px;
    margin: 0 auto;
    margin-top: 10px;
    padding-right: 230px; }
    @media screen and (max-width: 1205px) {
      .m-content {
        width: 1005px;
        margin: 0 auto; } }
    .main-content {
      float: left;
      width: 100%; }
      .list {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-bottom: 30px;
        overflow: hidden;
        *zoom: 1; }
        .list .tab {
          display: block;
          float: left;
          width: 180px;
          height: 40px;
          font-size: 19px;
          text-align: center;
          line-height: 40px;
          color: #333;
          background-color: #fff;
          -webkit-box-shadow: 0 1px 1px rgba(6, 0, 1, 0.2);
          box-shadow: 0 1px 1px rgba(6, 0, 1, 0.2);
          cursor: pointer; }
        .list .tab-click {
          background-color: #39a030;
          color: #fff; }

      .subject-list {
        margin-left: -20px; }

      .subject-list:after {
        content: '';
        display: block;
        clear: both; }

      .subject-box {
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 25%;
        padding-left: 20px;
        margin: 0 0 20px 0; }
        @media screen and (max-width: 1205px) {
          .subject-box {
            width: 33.333%; }
            .subject-box:hover .sub-hover, .subject-box:active .sub-hover {
              display: block; } }

      .subject {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 100%;
        background: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer; }
        .subject:hover, .subject:active {
          -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
          .subject:hover .title, .subject:active .title {
            color: #39a030; }
        .subject .sub-img {
          width: 100%;
          height: 130px; }
        .subject .title {
          margin: 6px 7px 0 7px;
          font-size: 13px;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
        .subject .album {
          margin: 6px 7px 0 7px;
          font-size: 13px;
          color: #bbb; }
        .subject .num, .subject .sub-hover .provider, .sub-hover .subject .provider, .subject .sub-hover .sort, .sub-hover .subject .sort {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          margin: 6px 7px 0 7px;
          padding: 2px 3px;
          font-size: 12px;
          color: #bbb;
          border: 1px solid #bbb;
          border-radius: 2px; }
        .subject .price {
          margin: 6px 7px 10px 7px;
          font-size: 13px;
          color: #ff3f00; }

      .sub-hover {
        display: none;
        position: absolute;
        left: 10px;
        top: -10px;
        z-index: 1400;
        width: 460px;
        background-color: #fff;
        box-shadow: 0 1px 1px 1px #e6e6e6; }
        .sub-hover .top {
          padding: 10px;
          overflow: hidden;
          *zoom: 1; }
        .sub-hover img {
          float: left;
          width: 244.98px;
          height: 130px; }
        .sub-hover h3 {
          margin: 0 0 12px 255px;
          font: 20px/26px 'Microsoft YaHei';
          color: #333; }
        .sub-hover .num, .sub-hover .provider, .sub-hover .sort {
          margin: 0 0 10px 255px;
          font: 12px/12px 'Microsoft YaHei';
          color: #838383; }
        .sub-hover .provider {
          margin-bottom: 6px; }
        .sub-hover .sort {
          margin-bottom: 6px; }
        .sub-hover .description {
          min-height: 80px;
          padding: 10px;
          font: 14px/24px 'Microsoft YaHei';
          color: #838383;
          background-color: #f8f8f8; }

      .page-num {
        overflow: hidden;
        *zoom: 1;
        margin-top: 5px;
        font-size: 12px; }
        .page-num .arrows {
          display: none;
          float: right;
          width: 30px;
          height: 20px;
          margin: 0 3px 0 3px;
          color: #fff;
          text-align: center;
          line-height: 20px;
          background-color: #9dd8b1;
          cursor: pointer; }
        .page-num ul {
          float: right; }
        .page-num li {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          float: left;
          margin: 0 3px 0 3px;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          cursor: pointer; }
          .page-num li:hover, .page-num li:active {
            background-color: #9dd8b1;
            color: #fff; }
        .page-num .select-li {
          background-color: #9dd8b1;
          color: #fff; }

    .sidebar {
      position: relative;
      right: -230px;
      z-index: 1;
      float: left;
      width: 210px;
      margin-left: -210px; }
      .intro {
        width: 100%;
        background-color: #fff;
        text-align: center;
        -webkit-box-shadow: 0 1px 1px rgba(6, 0, 1, 0.2);
        box-shadow: 0 1px 1px rgba(6, 0, 1, 0.2); }
        .intro h1 {
          padding-top: 15px;
          margin: 0 0 15px 10%;
          text-align: left;
          font-size: 16px;
          color: #333; }
        .intro .hr {
          width: 100%;
          height: 1px;
          background-color: #ddd; }
        .intro p {
          margin: 15px 0 10px 10%;
          font-size: 12px;
          text-align: left;
          color: #666; }
        .intro .play-content {
          position: relative; }
        .intro .vedio {
          margin-bottom: 20px;
          width: 80%;
          cursor: pointer; }
        .intro .play {
          position: absolute;
          left: 50%;
          margin-left: -23px;
          z-index: 1000;
          top: 30px;
          cursor: pointer; }

      .rank {
        margin-top: 25px;
        padding-bottom: 1px;
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(6, 0, 1, 0.2);
        box-shadow: 0 1px 1px rgba(6, 0, 1, 0.2); }
        .rank h1 {
          padding-top: 15px;
          margin: 0 0 15px 10%;
          font-size: 16px;
          color: #666; }
        .rank .hr {
          margin-bottom: 15px;
          width: 100%;
          height: 1px;
          background-color: #ddd; }
        .rank .rank-list-box {
          position: relative;
          max-height: 660px;
          margin-bottom: 15px;
          overflow: hidden;
          *zoom: 1; }
        .rank .rank-list {
          display: block;
          padding: 8px 10% 8px 10%;
          overflow: hidden;
          *zoom: 1; }
          .rank .rank-list:hover, .rank .rank-list:active {
            border-right: 1px solid #999; }
          .rank .rank-list div {
            float: left;
            margin-right: 10px;
            width: 50px;
            height: 50px;
            overflow: hidden; }
          .rank .rank-list img {
            height: 50px;
            margin-left: -35px; }
          .rank .rank-list h2 {
            margin-top: 3px;
            color: #333;
            font-size: 13px;
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }
          .rank .rank-list p {
            margin-top: 10px;
            font-size: 12px;
            color: #bbb; }

.footer {
  overflow: hidden;
  *zoom: 1;
  min-width: 1205px;
  padding: 55px 0 55px 0;
  background-color: #2c3339;
  color: #8b8f92; }
  @media screen and (max-width: 1205px) {
    .footer {
      min-width: 1005px; } }
  .footer .f-content {
    width: 1205px;
    margin: 0 auto; }
    @media screen and (max-width: 1205px) {
      .footer .f-content {
        width: 1005px;
        margin: 0 auto; } }
    .footer .f-content div {
      float: left; }
    .footer .f-content a {
      color: #8b8f92; }
    .f-wangyi {
      margin: 5px 80px 0 40px; }
      .f-wangyi h2 {
        margin-bottom: 20px;
        color: #39a030;
        font-size: 25px;
        font-weight: bold; }
      .f-wangyi p {
        font-size: 12px;
        line-height: 22px; }

    .f-list {
      margin-left: 100px; }
      .f-list p {
        margin-bottom: 12px;
        font-size: 12px; }
      .f-list a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        font-size: 14px;
        line-height: 23px; }
        .f-list a:hover, .f-list a:active {
          text-decoration: underline; }

.fixed-back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1200;
  min-width: 1205px;
  width: 100%;
  height: 100%;
  background: #3b3b3b;
  filter: alpha(opacity=75);
  opacity: 0.75; }
  @media screen and (max-width: 1205px) {
    .fixed-back {
      min-width: 1005px; } }

.login-frame {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -190px;
  top: 50%;
  margin-top: -149px;
  z-index: 1250;
  background: #fff; }
  .login-close, .vedio-close {
    overflow: hidden;
    *zoom: 1;
    background: #fff; }
    .login-close a, .vedio-close a {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      float: right;
      margin: 10px 10px 0 0;
      font-weight: normal;
      font-size: 12px; }
      .login-close a:hover, .vedio-close a:hover, .login-close a:active, .vedio-close a:active {
        color: #21a557; }

  .login-content {
    padding: 20px 40px 40px; }
    .login-content h1 {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold;
      color: #444; }
    .login-content .login-form {
      position: relative; }
      .login-content .login-form span {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        font-size: 16px;
        color: #ccc; }
      .login-content .login-form .remind-user {
        position: absolute;
        left: 13px;
        top: 16px;
        z-index: 1; }
      .login-content .login-form .remind-pwd {
        position: absolute;
        left: 13px;
        top: 78px;
        z-index: 1; }
    .login-content .user-name, .login-content .user-password {
      display: block;
      width: 273px;
      height: 45px;
      margin-bottom: 15px;
      padding: 0 10px 0 10px;
      font-size: 15px;
      line-height: 45px;
      background-color: #fafafa;
      border: solid 1px #dfdfdf;
      outline: none;
      -webkit-box-shadow: inset 3px 3px #f1f1f1;
      box-shadow: inset 3px 3px #f1f1f1; }
    .login-content .submit {
      display: block;
      width: 300px;
      height: 48px;
      margin-top: 25px;
      border: 0;
      color: #fff;
      font-size: 20px;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      text-transform: capitalize;
      background-color: #39a030;
      background: url("../images/login.png") no-repeat;
      background-position: 0 0;
      outline: none;
      cursor: pointer; }
      .login-content .submit:hover {
        background-position: 0 -71px; }
      .login-content .submit:active {
        background-position: 0 -145px; }

  .login-error {
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -95px;
    top: 50%;
    margin-top: -20px;
    z-index: 1;
    padding: 20px;
    width: 150px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 8px;
    filter: alpha(opacity=0);
    opacity: 0; }

  .login-error p {
    margin-top: 15px; }

.vedio-frame {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -290px;
  top: 50%;
  margin-top: -212.5px;
  z-index: 1250;
  padding: 0 15px 25px;
  background: #fff; }
  .vedio-close a {
    margin-right: 0; }

  .vedio-content h1 {
    margin-bottom: 10px;
    font-size: 15px;
    color: #444; }
  .vedio-content #myVideo {
    cursor: pointer; }

/*# sourceMappingURL=index.css.map */
