// 自定义位置
// 适配retina
@mixin retina-image($img_2x, $width, $height) {
    background-image: url($img_2x);
    @include background-size($width/2 $height/2);
    background-repeat: no-repeat;
}

// position:abs
@mixin abs-center($width, $height, $z-index:1) {
    position: absolute;
    left: 50%;
    margin-left: -($width/2);
    top: 50%;
    margin-top: -($height/2);
    z-index: $z-index;
}

@mixin abs-row-center($width, $z-index:1) {
    position: absolute;
    left: 50%;
    margin-left: -($width/2);
    z-index: $z-index;
}

@mixin abs-col-center($height, $z-index:1) {
    position: absolute;
    top: 50%;
    margin-top: -($height/2);
    z-index: $z-index;
}

@mixin abs-left($left, $z-index:1) {
    position: absolute;
    left: $left;
    z-index: $z-index;
}

@mixin abs-top($top, $z-index:1) {
    position: absolute;
    top: $top;
    z-index: $z-index;
}

@mixin abs-right($right, $z-index:1) {
    position: absolute;
    right: $right;
    z-index: $z-index;
}

@mixin abs-bottom($bottom, $z-index:1) {
    position: absolute;
    bottom: $bottom;
    z-index: $z-index;
}

@mixin abs-left-top($left, $top, $z-index:1) {
    position: absolute;
    left: $left;
    top: $top;
    z-index: $z-index;
}

@mixin abs-left-bottom($left, $bottom, $z-index:1) {
    position: absolute;
    left: $left;
    top: $bottom;
    z-index: $z-index;
}

@mixin abs-right-top($right, $top, $z-index:1) {
    position: absolute;
    left: $right;
    top: $top;
    z-index: $z-index;
}

@mixin abs-right-bottom($right, $bottom, $z-index:1) {
    position: absolute;
    left: $right;
    top: $bottom;
    z-index: $z-index;
}

// relative
@mixin rel-right($right, $z-index:1) {
    position: relative;
    right: $right;
    z-index: $z-index;
}

//fixed居中
@mixin fixed-center($width, $height, $z-index:1) {
    position: fixed;
    left: 50%;
    margin-left: -($width/2);
    top: 50%;
    margin-top: -($height/2);
    z-index: $z-index;
}

// self-hover-link
@mixin hover-under-color($color) {
    &:hover,
    &:active {
        text-decoration: underline;
        color: $color;
    }
}

@mixin hover-under() {
    &:hover,
    &:active {
        text-decoration: underline;
    }
}

@mixin hover-color($color) {
    &:hover,
    &:active {
        color: $color;
    }
}

@mixin hover-bgcolor($bgcolor) {
    &:hover,
    &:active {
        background-color: $bgcolor;
    }
}

@mixin hover-bgcolor-color($bgcolor, $color) {
    &:hover,
    &:active {
        background-color: $bgcolor;
        color: $color;
    }
}

// 文本截断加...
@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

// 最小宽度
@mixin min-width($width) {
    min-width: $width;
}
@mixin min-height($height) {
    min-height: $height;
}


// 宽度设置并居中
@mixin width-center($width) {
    width: $width;
    margin: 0 auto;
}

// 高宽设置
@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}

// 盒子阴影
@mixin box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, .25)) {
    -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
    box-shadow: $shadow;
}

// 透明
@mixin opacity($opacity) {
    $opacityIE: $opacity * 100;
    filter: alpha(opacity=$opacityIE);
    opacity: $opacity;
}

// 浮动
@mixin float-left() {
    float: left;
}

@mixin float-right() {
    float: right;
}

// 清除浮动
@mixin clearfix() {
    overflow: hidden;
    *zoom: 1;
}

// 设置块级元素
@mixin inline-block() {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

// 块级列表导航
@mixin inline-block-list() {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        white-space: nowrap;
    }
}

// 隐藏文字
@mixin hide-text {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
}

// 同一侧圆角
@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

// 背景尺寸
@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin box-sizing($model) {
    -webkit-box-sizing: $model;
    -moz-box-sizing: $model;
    box-sizing: $model;
}
