// nav
$nav-margin-r:28px;
// banner盒子和图片的高度
$height-1:460px;
$height-2:400px;
// follow
$fl-line-height:21px;
// main
$m-bgcolor:#f8f8f8;
// 大屏幕的最小宽度
$min-width:1205px;
$small-min-width:1005px;
// left subject
// 课程价格颜色
$sub-price-color:#ff3f00;
// 页码颜色
$page-num-color:#9dd8b1;
// footer
$f-bgcolor:#2c3339;
$f-color:#8b8f92;
// 关注hover颜色
$hov-follow:#2fb456;
// 页面主色调，绿色
$color-2:#21a557;
//页面主色调，绿色
$color-3:#39a030;
// 提示栏背景颜色
$color-1:#f3f3f3;
// 已关注的颜色
$color-4:#f8f8f8;
// 已关注的边框颜色
$color-5:#eee;
// 用于取消关注的颜色
$color-6:#999;
// 导航栏颜色
$color-7:#666;
// 图片banner指示的颜色,tab颜色,notice字体颜色
$color-8:#333;
// 分割线
$color-11:#ddd;
// 遮罩颜色
$color-14:#3b3b3b;
// 登录框标题颜色
$color-15:#444;
// 输入框提示文字颜色
$color-16:#ccc;
// 输入框背景颜色
$color-17:#fafafa;
// 输入框边框颜色
$color-18:#dfdfdf;
$hover-sub-margin:255px;

$color-sub:#bbb;
